<div class="container">
  <div class="Collection-Title">
    <h2>{{ collection.title }}</h2>
  </div>
</div>
{% schema %}
  {
    "name": "Collection Title",
    "settings": [],
 "presets": [
        {
         "category": "Collection Title",
         "name": "Collection Title"
        }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}